<div *ngIf="country$ | async; let country" class="country">
  <button class="button" [routerLink]="'/'">
    <span class="bi bi-arrow-left"></span>
    Back
  </button>
  <div class="layout">
    <img [src]="country.flag" />
    <div class="detail">
      <h3>{{ country.name }}</h3>
      <div class="info">
        <div class="session-box">
          <p>
            <strong>Native Name:</strong>
            {{ country.nativeName }}
          </p>
          <p>
            <strong>Population:</strong>
            {{ country.population | number }}
          </p>
          <p>
            <strong>Region:</strong>
            {{ country.region }}
          </p>
          <p>
            <strong>Sub Region:</strong>
            {{ country.subregion }}
          </p>
          <p>
            <strong>Capital:</strong>
            {{ country.capital }}
          </p>
        </div>
        <div class="session-box">
          <p>
            <strong>Top Level Domain:</strong>
            {{ country.topLevelDomain }}
          </p>
          <p>
            <strong>Currencies:</strong>
            {{ showCurrency(country.currencies) }}
          </p>
          <p>
            <strong>Languages:</strong>
            {{ showLanguage(country.languages) }}
          </p>

          <p></p>
        </div>
      </div>
      <div class="borders">
        <p><strong>Border Countries:</strong></p>
        <div
          *ngIf="borderCountries$ | async; let borderCountries"
          class="borders-buttons"
        >
          <div
            *ngFor="let borderCountry of borderCountries"
            class="borders-button"
            [routerLink]="'/' + borderCountry.name"
          >
            {{ borderCountry.name }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
