.country {
  padding: 1rem;

  img {
    width: 100%;
  }
  h3 {
    padding-top: 2rem;
  }
  button {
    padding: 0.5rem 2rem;
    margin-bottom: 4rem;
  }
  p {
    padding: 0.5rem 0;
  }

  .layout {
    display: flex;
    justify-content: space-between;
    img {
      width: 40%;
    }
  }

  .detail {
    width: 50%;
  }

  .info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .session-box {
    padding: 1rem 0;
  }

  .borders {
    margin-bottom: 4rem;

    .borders-buttons {
      display: grid;
      column-gap: 0.5rem;
      row-gap: 1rem;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 2rem;

      .borders-button {
        text-align: center;
        line-height: 2rem;
        cursor: pointer;
      }
    }
  }
}

.button {
  border: none;
  font-size: 1rem;
}
