.filters {
  margin: 2rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  app-dropdown {
    width: 25%;
  }
}

.country-cards {
  padding: 0 1rem;
  display: grid;
  row-gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1rem;
}

.search-filter {
  border-radius: 0.25rem;
  font-size: 1rem;
  padding: 1rem;
  width: 25%;

  span {
    font-size: 1rem;
    padding-right: 0.5rem;
  }
  input {
    font-size: 1rem;
    border: none;
    width: 90%;
    background-color: inherit;
  }
}
